.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.5em;
  background-color: #bcbcbc;
  border: 1px solid black;
  width: 90vw;
  max-width: 34em;
  text-align: center;
  padding: 3em 2em;
}

.question-container h2 {
  font-size: 1.5em;
  text-align: center;
  color: #000000;
  margin-bottom: 2em;
}

.wrapper {
  display: grid;
  grid-template-columns: 11fr 1fr;
  grid-gap: 1em;
}

.error-con {
  align-self: center;
}
